.contador {
    width: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contador p {
    font-size: 54px;
    background-color: var(--main-color);
}

button {
    background-color: red;
}